{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>女性向け自販機ログイン</title>
    <link rel="stylesheet" href="{% static 'vend/login/style.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'vend/images/login-bg.png' %}" alt="背景とロゴ" class="background">
        <div class="mascot-container">
            <img src="{% static 'vend/images/mascot.png' %}" alt="Mascot with welcome message" class="mascot">
        </div>
        <img src="{% static 'vend/images/title.png' %}" alt="女性向け自販機" class="title">
        <form method="post">
            {% if error|length > 0 %} <label style="color: brown;"> 用户或密码错误 </label> {% endif %}
            {% csrf_token %}
            <input type="text" name="username" placeholder="ユーザーID" required>
            <input type="password" name="password" placeholder="パスワード" required>
            <input type="image" src="{% static 'vend/images/login_button.png' %}" alt="ログイン" class="login-button">
        </form>
    </div>
    <img src="{% static 'vend/images/copyright.png' %}" alt="Copyright © 2024 Digital Hollywood A23DC548_MA YIYUN" class="copyright">
</body>
</html>