{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホシポ - 商品リスト</title>
    <link rel="stylesheet" href="{% static 'vend/menu/style1.css' %}">
</head>
<body>
    <div class="page-container">
        <img src="{% static 'vend/images/background_with_logo.png' %}" alt="背景とロゴ" class="background">
        <img src="{% static 'vend/images/menu-icon.png' %}" alt="メニュー" class="menu-icon">
        <div class="products-container">
            <img src="{% static 'vend/images/products_with_text2.png' %}" alt="商品リスト" class="products">
            <div class="buttons-container">
                <div class="product-row">
                    <a href="ss.html"><img src="{% static 'vend/images/ss.png' %}" alt="詳細はこちら" class="button details-button"></a>
                    <a href="buy.html"><img src="{% static 'vend/images/buy.png' %}" alt="すぐ購入" class="button buy-button"></a>
                </div>
                <div class="product-row">
                    <a href="ss.html"><img src="{% static 'vend/images/ss.png' %}" alt="詳細はこちら" class="button details-button"></a>
                    <a href="buy.html"><img src="{% static 'vend/images/buy.png' %}" alt="すぐ購入" class="button buy-button"></a>
                </div>
                <div class="product-row">
                    <a href="ss.html"><img src="{% static 'vend/images/ss.png' %}" alt="詳細はこちら" class="button details-button"></a>
                    <a href="buy.html"><img src="{% static 'vend/images/buy.png' %}" alt="すぐ購入" class="button buy-button"></a>
                </div>
            </div>
        </div>
        <div class="nav-button-container">
            <button class="nav-button prev" data-href="menu2.html">
                <img src="{% static 'vend/images/prev_button.png' %}" alt="前へ">
            </button>
            <button class="nav-button next" data-href="menu1.html">
                <img src="{% static 'vend/images/next_button.png' %}" alt="次へ">
            </button>
        </div>
        <script src="{% static 'vend/js/transition.js' %}"></script>
    </div>
</body>
</html>