* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
    z-index: 1;
}

.mascot-container {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.mascot {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.title {
    width: 100%;
    max-width: 250px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
    background-color: white; /* 改回白色背景 */
    color: black; /* 文字颜色改为黑色，以便在白色背景上清晰可见 */
}

input::placeholder {
    color: #aaa;
}

.login-button {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 10px;
    cursor: pointer;
}

.login-button:hover {
    opacity: 0.8;
}

.copyright {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-top: auto;
    padding-top: 20px;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}

@media (max-height: 700px) {
    body {
        justify-content: flex-start;
        padding-top: 50px;
    }
}